<div is="ui-component" class="sc-container">
  <div class="sc-window" is="ui-component">
    <div class="sc-title">
      <span class="sc-tabs">
        <span class="sc-drag-area"></span>
        <span class="sc-tab" is="sc-section-tab" set:path="'scroll-capture/image/settings'"
          set:location="scope.location">
          <span class="sc-drag-area"></span>
          <button is="router-button" data-path="scroll-capture/image/settings" title="Settings">
            <span class="sc-icon fa-solid fa-sliders"></span>
            <span class="sc-label">Settings</span>
          </button>
        </span>
        <span class="sc-tab" is="sc-section-tab" set:path="'scroll-capture/image/download'"
          set:location="scope.location">
          <span class="sc-drag-area"></span>
          <button is="router-button" data-path="image-capture" title="Capture">
            <span class="sc-icon fa-solid fa-video"></span>
            <span class="sc-label">Capture</span>
          </button>
        </span>
      </span>
      <span class="sc-tabs" is="ui-component">
        <span class="sc-drag-area"></span>
        <!-- <span class="sc-tab" is="sc-section-tab" set:path="'scroll-capture/image/info'" set:location="scope.location">
          <span class="sc-drag-area"></span>
          <button is="router-button" data-path="scroll-capture/image/info" title="Info">
            <span class="sc-label">Info</span>
            <span class="sc-icon fa-solid fa-circle-question"></span>
          </button>
        </span> -->
      </span>
    </div>
    <div class="sc-window-content" is="ui-component">
      <sc-image-settings class="sc-section sc-fields" is="ui-component">
        <div class="sc-scrollpane">
          <div>
            <div class="sc-window">
              <!-- <div class="sc-title">
                <span class="sc-tabs">
                    <span class="sc-tab sc-title-tab">
                        <span class="sc-icon fa-solid fa-gear"></span>
                        <span class="sc-label">Configuration</span>
                    </span>
                </span>
                <span class="sc-tabs"></span>
            </div> -->
              <div class="sc-window-content" is="ui-component">
                <div class="sc-fields" is="ui-component">
                  <div class="sc-field" title="Scroll Target">
                    <div class="sc-space">
                      <span class="sc-icon fa-solid fa-location-crosshairs"></span>
                      <span class="sc-label">Scroll Target</span>
                    </div>
                    <div class="sc-input sc-select">
                      <!-- <span class="sc-icon fa-solid fa-location-crosshairs"></span> -->
                      <select is="ui-select" set:provider="scope.imgCapSettings.targets"
                        bind:value="scope.imgCapSettings.target"></select>
                    </div>
                  </div>

                  <div class="sc-field" title="File Format">
                    <div class="sc-space">
                      <span class="sc-icon fa-solid fa-file-image"></span>
                      <span class="sc-label">File Format</span>
                    </div>
                    <div class="sc-input sc-select">
                      <select is="ui-select" set:provider="scope.imgCapSettings.formats"
                        bind:value="scope.imgCapSettings.format">
                        <template>
                          <option is="ui-text" value="{scope.data.type}">${scope.data.ext}</option>
                        </template>
                      </select>
                    </div>
                  </div>

                  <div class="sc-field-group" data-display="{scope.imgCapSettings.format != 'png'}" is="ui-component"
                    title="Quality">
                    <div class="sc-space">
                      <span class="sc-icon fa-solid fa-file-zipper"></span>
                      <span class="sc-label">Quality</span>
                    </div>
                    <div class="sc-field">
                      <span class="sc-input">
                        <span class="sc-input-group">
                          <span class="sc-input-unit" is="ui-text"
                            data-unit="%">${scope.imgCapSettings.compression}</span>
                          <input type="number" min="0" max="100" step="5" placeholder="100" is="ui-input"
                            bind:model="scope.imgCapSettings.compression" />
                        </span>
                      </span>
                      <input type="range" min="0" max="100" step="5" is="ui-input"
                        bind:model="scope.imgCapSettings.compression" />
                    </div>
                  </div>

                  <div class="sc-field" title="Scroll Interval">
                    <span class="sc-space">
                      <span class="sc-icon fa-solid fa-hourglass-half"></span>
                      <span class="sc-label">Scroll Interval</span>
                    </span>
                    <span class="sc-input">
                      <!-- <span class="sc-icon fa-solid fa-hourglass-half"></span> -->
                      <span class="sc-input-group">
                        <span class="sc-input-unit" is="ui-text" data-unit="s">${scope.imgCapSettings.delay}</span>
                        <input type="number" step="0.25" min="0.5" placeholder="0" is="ui-input"
                          bind:model="scope.imgCapSettings.delay" />
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="sc-window">
              <!-- <div class="sc-title">
              <span class="sc-tabs">
                <span class="sc-tab sc-title-tab">
                  <span class="sc-icon fa-solid fa-eye-slash"></span>
                  <span class="sc-label">Hidden Elements</span>
                </span>
              </span>
              <span class="sc-tabs">
                <span class="sc-tab">
                  <div class="ui-list-drag-area"></div>
                </span>
              </span>
            </div> -->
              <div class="sc-window-content" is="ui-component">
                <div class="sc-fields" is="ui-component">
                  <div class="sc-field-group" title="Hidden Elements">
                    <span class="sc-space">
                      <span class="sc-icon fa-solid fa-eye-slash"></span>
                      <span class="sc-label">Hidden Elements</span>
                    </span>
                    <span class="sc-input-group">
                      <span class="sc-input sc-select">
                        <select is="ui-select" set:provider="scope.imgCapSettings.hiddenTypes"
                          bind:value="scope.imgCapSettings.hiddenType.value">
                          <template>
                            <option is="ui-text" value="{scope.data.type}">${scope.data.name}</option>
                          </template>
                        </select>
                      </span>
                      <button class="sc-trash-button" is="ui-button" on:click="scope.imgCapSettings.addHiddenElement()"
                        title="Add">
                        <span class="sc-icon fa-solid fa-square-plus"></span>
                      </button>
                    </span>
                  </div>

                  <div class="sc-fixed-elements-list sc-field-column" is="ui-list"
                    data-display="{scope.imgCapSettings.hiddenElements.length.value > 0}"
                    set:provider="scope.imgCapSettings.hiddenElements">
                    <template>
                      <div class="sc-field">
                        <span class="sc-input {scope.data.type == 'fixed' ? 'sc-select' : ''}" title="Element Selector"
                          is="ui-component">
                          <span class="sc-icon fa-solid fa-location-crosshairs"></span>
                          <span is="ui-list" set:provider="[scope.data]">
                            <template data-type="query">
                              <input type="text" is="ui-input" placeholder="Enter element selector"
                                bind:model="scope.data.selector" />
                            </template>
                            <template data-type="fixed">
                              <select is="ui-select" set:provider="scope.root.imgCapSettings.fixedSelectors"
                                bind:value="scope.data.selector">
                                <template>
                                  <option is="ui-text" value="{scope.data.value}">${scope.data.name}</option>
                                </template>
                              </select>
                            </template>
                          </span>
                        </span>
                        <button class="sc-trash-button" is="ui-button" set:model="scope.data"
                          on:click="scope.root.imgCapSettings.removeHiddenElement(scope.data)" title="Delete">
                          <span class="sc-icon fa-solid fa-trash-alt"></span>
                        </button>
                      </div>
                    </template>
                  </div>
                </div>
              </div>
            </div>
            <div is="general-settings" class="sc-window"></div>
          </div>
        </div>
      </sc-image-settings>
      <sc-image-download class="sc-section sc-fields no-flex-grow" data-imageloaded="{imageLoaded}">
        <div class="sc-container">
          <div class="sc-window" is="ui-component">
            <div class="sc-title">
              <div class="sc-tabs">
                <span class="sc-tab sc-title-tab">
                  <span class="sc-icon fa-solid fa-file-image"></span>
                  <span class="sc-label" is="ui-text">${scope.imgCapSettings.format.toUpperCase()} Image</span>
                </span>
              </div>
              <div class="sc-tabs">
                <div class="sc-tab sc-video-filename">
                  <a class="sc-download-button" title="Download {scope.imgCapSettings.format.toUpperCase()}"
                    is="ui-component">
                    <span class="sc-label" is="ui-text">Download</span>
                    <span class="sc-icon fa-solid fa-download"></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="sc-window-content" is="ui-component">
              <div class="sc-fields">
                <div class="sc-wait">The image should be ready in a few seconds...</div>
                <div class="sc-scrollpane">
                  <div class="img-panel-container">
                    <a class="sc-download-button img-container" title="Download Image"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </sc-image-download>
      <!-- <sc-info class="sc-section sc-fields"></sc-info> -->
    </div>
  </div>
</div>