<div is="ui-component">
    <div class="sc-window sc-window-sections" is="ui-component">
        <div class="sc-title">
            <span class="sc-tabs">
                <span class="sc-tab" is="sc-section-tab" set:path="'scroll-capture/image/settings'" set:location="scope.location">
                    <button is="router-button" data-path="scroll-capture/image/settings" title="Settings">
                        <span class="sc-icon fa-solid fa-sliders"></span>
                        <span class="sc-label">Settings</span>
                    </button>
                </span>
                <span class="sc-tab" is="sc-section-tab" set:path="'scroll-capture/image/download'" set:location="scope.location">
                    <button is="router-button" data-path="image-capture" title="Capture">
                        <span class="sc-icon fa-solid fa-video"></span>
                        <span class="sc-label">Capture</span>
                    </button>
                </span>
            </span>
            <span class="sc-tabs" is="ui-component"></span>
        </div>
        <div class="sc-window-content" is="ui-component">
            <sc-image-settings class="sc-section sc-fields" is="ui-component">
                <div>
                    <div class="sc-window">
                        <!-- <div class="sc-title">
                            <span class="sc-tabs">
                                <span class="sc-tab sc-title-tab">
                                    <span class="sc-icon fa-solid fa-gear"></span>
                                    <span class="sc-label">Configuration</span>
                                </span>
                            </span>
                            <span class="sc-tabs"></span>
                        </div> -->
                        <div class="sc-window-content" is="ui-component">
                            <div class="sc-fields" is="ui-component">
                                <div class="sc-field" title="Scroll Target">
                                    <div class="sc-space">
                                        <span class="sc-icon fa-solid fa-location-crosshairs"></span>
                                        <span class="sc-label">Scroll Target</span>
                                    </div>
                                    <div class="sc-input sc-select">
                                        <!-- <span class="sc-icon fa-solid fa-location-crosshairs"></span> -->
                                        <select is="ui-select" set:provider="scope.imgCapSettings.targets" bind:value="scope.imgCapSettings.target"></select>
                                    </div>
                                </div>
                                
                                <div class="sc-field" title="Image Format">
                                    <div class="sc-space">
                                        <span class="sc-icon fa-solid fa-file"></span>
                                        <span class="sc-label">Image Format</span>
                                    </div>
                                    <div class="sc-input sc-select">
                                        <select is="ui-select" set:provider="scope.imgCapSettings.formats" bind:value="scope.imgCapSettings.format"></select>
                                    </div>
                                </div>

                                <div class="sc-field-group" data-visible="{scope.imgCapSettings.format == 'jpeg'}" is="ui-component">
                                    <div class="sc-space">
                                        <span class="sc-icon fa-solid fa-file-zipper"></span>
                                        <span class="sc-label">JPEG Quality</span>
                                    </div>
                                    <div class="sc-field" title="Quality">
                                        <span class="sc-input">
                                            <span class="sc-input-group">
                                                <span class="sc-input-unit" is="ui-text" data-unit="%">{scope.imgCapSettings.compression}</span>
                                                <input type="number" min="0" max="100" step="5" placeholder="100" is="ui-input" bind:model="scope.imgCapSettings.compression" />
                                            </span>
                                        </span>
                                        <input type="range" min="0" max="100" step="5" is="ui-input" bind:model="scope.imgCapSettings.compression" />
                                    </div>
                                </div>

                                <div class="sc-field">
                                    <span class="sc-space">
                                        <span class="sc-icon fa-solid fa-hourglass-half"></span>
                                        <span class="sc-label">Scroll interval</span>
                                    </span>
                                    <span class="sc-input" title="Scroll Interval">
                                        <!-- <span class="sc-icon fa-solid fa-hourglass-half"></span> -->
                                        <span class="sc-input-group">
                                            <span class="sc-input-unit" is="ui-text" data-unit="s">{scope.imgCapSettings.delay}</span>
                                            <input type="number" step="0.25" min="0.5" placeholder="0" is="ui-input" bind:model="scope.imgCapSettings.delay" />
                                        </span>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="sc-window">
                        <div class="sc-title">
                            <span class="sc-tabs">
                                <span class="sc-tab sc-title-tab">
                                    <span class="sc-icon fa-solid fa-eye-slash"></span>
                                    <span class="sc-label">Hidden Elements</span>
                                </span>
                            </span>
                            <span class="sc-tabs">
                                <span class="sc-tab">
                                    <div class="ui-list-drag-area"></div>
                                    <button class="sc-trash-button" is="ui-button" on:click="scope.imgCapSettings.addHiddenElement()" title="Delete">
                                        <span class="sc-icon fa-solid fa-square-plus"></span>
                                    </button>
                                </span>
                            </span>
                        </div>
                        <div class="sc-window-content" is="ui-component">
                            <div class="sc-fields" is="ui-component">
                                <div class="sc-fixed-elements-list sc-field-column" is="ui-list" set:provider="scope.imgCapSettings.fixedElements">
                                    <template>
                                        <div class="sc-field">
                                            <span class="sc-input" title="Element Selector">
                                                <span class="sc-icon fa-solid fa-location-crosshairs"></span>
                                                <input type="text" is="ui-input" placeholder="Enter element selector" bind:model="scope.data.selector" />
                                            </span>
                                            <span class="sc-icon">
                                                <button class="sc-trash-button" is="ui-button" set:model="scope.data" on:click="scope.rootScope.imgCapSettings.removeHiddenElement(model);" title="Delete">
                                                    <span class="sc-icon fa-solid fa-trash-alt"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div is="general-settings"></div>
                </div>
            </sc-image-settings>
            <sc-image-download class="sc-section sc-fields">
                <div class="sc-window" is="ui-component">
                    <div class="sc-title">
                        <div class="sc-tabs">
                            <span class="sc-tab sc-title-tab">
                                <a class="sc-download-button" title="Download Image">
                                   <span class="sc-icon fas fa-download"></span>
                                    <span class="sc-label">Download</span>
                                </a>
                            </span>
                        </div>
                        <div class="sc-tabs">
                            <span class="sc-tab"></span>
                        </div>
                    </div>
                    <div class="sc-window-content" is="ui-component">
                        <div class="sc-fields">
                            <div>
                                <div class="img-panel">
                                    <a class="sc-download-button img-container" title="Download Image">
                                        <img />
                                    </a>
                                </div>
                            </div>
                            <div class="sc-video-filename">
                                <a class="sc-download-button" title="Download Image"></a>
                            </div>            
                    </div>
                    </div>
                </div>
        
            </sc-image-download class="sc-section sc-fields">
        </div>
    </div>
</div>
