<div class="sc-fields-list" is="ui-component">
    <div class="sc-field-group">
        <div class="sc-field">
            <span class="sc-label">Duration:</span><input type="number" step="0.25" data-model="data.duration" is="ui-input"/>
        </div>
        <div class="sc-field">
            <span class="sc-label">Delay:</span><input type="number" step="0.25" data-model="data.delay" is="ui-input"/>
        </div>
    </div>
    <div class="sc-field-group" is="ui-component">
        <div class="sc-field" is="ui-component">
            <span class="sc-label">Easing:</span>
            <div is="ui-component" class="easing-graph-container">
                <div is="easing-graph" data-model="data.cubicBezierPoints">
                    <!-- <svg class="curve" x="0px" y="0px" preserveAspectRatio="none" viewBox="0 0 200 200">
                        <g>
                            <polyline class="js" is="easing-graph-curve" data-model="data.debugEasing" points=""></polyline>
                        </g>
                    </svg>
                    <div class="points js" is="easing-graph-points" data-model="data.debugEasing"></div> -->
                    <svg class="curve" x="0px" y="0px" preserveAspectRatio="none" viewBox="0 0 200 200">
                        <g>
                            <polyline is="easing-graph-curve" data-model="data.easingMethod" points=""></polyline>
                        </g>
                    </svg>
                    <div class="points" is="easing-graph-points" data-model="data.easingMethod"></div>
                    <div is="control-point-lines" is="ui-list">
                        <template>
                            <div is="control-point-line" data-model="data"></div>
                        </template>
                    </div>
                    <div class="control-points" is="easing-graph-control-points">
                        <template>
                            <div class="control-point" is="ui-component" data-model="data" style="left:calc([[data.x]] * 100%); top:calc(100% - [[data.y]] * 100%)">
                                <span class="shape">
                                    <span class="shape-label" is="ui-text">[[index1]]</span>
                                </span>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <div class="sc-field-column">
            <div class="sc-field">
                <div class="sc-select">
                    <select data-provider="data.easingPresets" data-model="data.easingPresets.selectedItem" is="ui-select"></select>
                </div>
            </div>
            <div class="sc-field">
                <input type="number" step="0.005" data-model="data.cubicBezierPoints.p1.x" is="ui-input"/>
                <input type="number" step="0.005" data-model="data.cubicBezierPoints.p1.y" is="ui-input"/>
            </div>
            <div class="sc-field">
                <input type="number" step="0.005" data-model="data.cubicBezierPoints.p2.x" is="ui-input"/>
                <input type="number" step="0.005" data-model="data.cubicBezierPoints.p2.y" is="ui-input"/>
            </div>
        </div>
    </div>
</div>
