<div is="ui-component">
  <div class="sc-window sc-window-sections" is="ui-component">
    <div class="sc-window-content" is="ui-component">
      <div class="sc-fields" is="ui-component">
        <div>
          <div class="sc-window">
            <div class="sc-window-content" is="ui-component">
              <div class="sc-fields" is="ui-component">
                <div class="sc-field" title="Tutorial">
                  <a class="sc-tutorial" href="https://www.youtube.com/watch?v=ydT4-mwsfyI" target="_blank">
                    <div class="sc-tutorial-icon">
                      <div class="sc-white-block"></div>
                      <span class="fa-brands fa-youtube"></span>
                    </div>
                  </a>
                </div>
                <div class="sc-field" title="Developer">
                  <div class="sc-space">
                    <a href="https://www.patrickmatte.com" target="_blank">
                      <span class="sc-icon fa-solid fa-user"></span>
                      <span>Developer</span>
                    </a>
                  </div>
                  <div class="sc-input">
                    <a href="https://www.patrickmatte.com" target="_blank">
                      <span class="sc-icon fa-solid fa-link"></span>
                      <span>patrickmatte.com</span>
                    </a>
                  </div>
                </div>
                <div class="sc-field" title="Support">
                  <span class="sc-space">
                    <a class="support" href="https://github.com/sponsors/patrickmatte/?frequency=one-time&amount=15" target="_blank">
                      <span class="sc-icon fa-solid fa-heart"></span>
                      <span>Sponsor</span>
                    </a>
                  </span>
                  <span class="sc-input">
                    <a class="support" href="https://github.com/sponsors/patrickmatte/?frequency=one-time&amount=15" target="_blank">
                      <span class="sc-icon fa-brands fa-github"></span>
                      <span>github.com/sponsors</span>
                    </a>
                  </span>
                </div>
                <div class="sc-field" title="Report an Issue">
                  <span class="sc-space">
                    <a class="support" href="https://github.com/patrickmatte/scroll-capture/issues" target="_blank">
                      <span class="sc-icon fa-solid fa-comment"></span>
                      <span>Report Issues</span>
                    </a>
                  </span>
                  <span class="sc-input">
                    <a class="support" href="https://github.com/patrickmatte/scroll-capture/issues" target="_blank">
                      <span class="sc-icon fa-brands fa-github"></span>
                      <span>github.com/issues</span>
                    </a>
                  </span>
                </div>
                <div class="sc-field" title="Rate & Review">
                  <div class="sc-space">
                    <a href="https://chromewebstore.google.com/detail/scroll-capture/egmhoeaacclmanaimofoooiamhpkimkk/reviews" target="_blank">
                      <span class="sc-icon fa-solid fa-star"></span>
                      <span>Rate & Review</span>
                    </a>
                  </div>
                  <div class="sc-input" is="ui-component">
                    <a href="https://chromewebstore.google.com/detail/scroll-capture/egmhoeaacclmanaimofoooiamhpkimkk/reviews" target="_blank" is="sc-rating">
                      <template>
                        <sc-star class="{scope.data.value}"></sc-star>
                      </template>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
