<screen-capture-scenario>
    <header class="row">
        <div class="title">Screen Capture Scenario</div>
        <button is="start-button" data-model=".">Start</button>
    </header>
    <actions-view data-provider="actions" is="ui-list">
        <template data-type="ActionScrollToPosition">
            <action-view data-type="[[item.type]]" data-model="item">
                <div class="title" is="ui-text">[[item.name]]</div>
                <div class="field-group">
                    <div class="field">
                        <span class="label">x</span><input type="text" data-model="item.x" is="ui-input"/><span class="unit">px</span>
                    </div>
                    <div class="field">
                        <span class="label">y</span><input type="text" data-model="item.y" is="ui-input"/><span class="unit">px</span>
                    </div>
                </div>
                <div class="field-group">
                    <div class="field">
                        <span class="label">duration</span><input type="text" data-model="item.duration" is="ui-input"/><span class="unit">s</span>
                    </div>
                    <div class="field">
                        <span class="label">delay</span><input type="text" data-model="item.delay" is="ui-input"/><span class="unit">s</span>
                    </div>
                </div>
                <div class="field">
                    <span class="label">easing</span>
                    <div class="select">
                        <select data-provider="item.easingClasses" data-model="item.easingClasses.selectedItem" is="ui-select"></select>
                    </div>
                    <div class="select">
                        <select data-provider="item.easingMethods" data-model="item.easingMethods.selectedItem" is="ui-select"></select>
                    </div>
                </div>
            </action-view>
        </template>
        <template data-type="ActionScrollToBottom">
            <action-view data-type="[[item.type]]" data-model="item">
                <div class="title" is="ui-text">[[item.name]]</div>
                <div class="field-group">
                    <div class="field">
                        <span class="label">duration</span><input type="text" data-model="item.duration" is="ui-input"/><span class="unit">s</span>
                    </div>
                    <div class="field">
                        <span class="label">delay</span><input type="text" data-model="item.delay" is="ui-input"/><span class="unit">s</span>
                    </div>
                </div>
                <div class="field">
                    <span class="label">easing</span>
                    <div class="select">
                        <select data-provider="item.easingClasses" data-model="item.easingClasses.selectedItem" is="ui-select"></select>
                    </div>
                    <div class="select">
                        <select data-provider="item.easingMethods" data-model="item.easingMethods.selectedItem" is="ui-select"></select>
                    </div>
                </div>
            </action-view>
        </template>
        <template data-type="ActionWait">
            <action-view data-type="[[item.type]]" data-model="item">
                <div class="title" is="ui-text">[[item.name]]</div>
                <div class="field">
                    <span class="label">timeout</span><input type="text" data-model="item.timeout" is="ui-input"/><span class="unit">s</span>
                </div>
            </action-view>
        </template>
        <template data-type="ActionMouseEvent">
            <action-view data-type="[[item.type]]" data-model="item">
                <div class="title" is="ui-text">[[item.name]]</div>
                <div class="field">
                    <span class="label">event type</span>
                    <div class="select">
                        <select data-provider="item.eventTypes" data-model="item.eventTypes.selectedItem" is="ui-select"></select>
                    </div>
                </div>
                <div class="field">
                    <span class="label">element selector</span><input type="text" data-model="item.cssSelector" is="ui-input"/>
                </div>
                <div class="field-group">
                    <div class="field">
                        <span class="label">x</span><input type="text" data-model="item.x" is="ui-input"/><span class="unit">px</span>
                    </div>
                    <div class="field">
                        <span class="label"y</span><input type="text" data-model="item.y" is="ui-input"/><span class="unit">px</span>
                    </div>
                </div>
            </action-view>
        </template>
        <template data-type="ActionEval">
            <action-view data-type="[[item.type]]" data-model="item">
                <div class="title" is="ui-text">[[item.name]]</div>
                <div class="field">
                    <textarea rows="4" data-model="item.code" is="ui-input"></textarea>
                </div>
            </action-view>
        </template>
    </actions-view>
    <footer class="row">
            <div class="select">
                <select is="ui-select" data-valuePath="type" data-provider="actions.types" data-model="actions.types.selectedItem">
                    <template data-type="*">
                        <option is="ui-text" value="[[item.type]]" data-model="item.name"></option>
                    </template>
                </select>
            </div>
            <button class="add-button" is="ui-button" data-event-click="actions.addSelectedType">+</button>
    </footer>
</screen-capture-scenario>