<scroll-capture>
	<div class="sc-window main-window" is="ui-component">
		<div class="sc-header">
			<div class="sc-title">
				<div class="sc-drag-area"></div>
				<div class="sc-tabs">
					<span class="sc-tab sc-title-tab" data-selected="true">
						<span class="sc-label">Scroll Capture</span>
					</span>
				</div>
				<div class="sc-tab">
					<button class="close-button" is="ui-button" data-click="hide"></button>
				</div>
			</div>
		</div>
		<div class="sc-panel sequencer" data-state="show" is="ui-component">
			<div class="sc-controls" is="ui-component" data-actions-length="[[actions.length]]">
				<button class="save-button" is="ui-button" data-click="save" data-is-saving="[[isSaving]]">
					<span class="sc-label">Save</span>
				</button>
				<button class="play-button" is="ui-button" data-click="play">
					<span class="sc-label">Play All</span>
				</button>
				<button class="close-button" is="ui-button" data-click="clear">
					<span class="sc-label">Clear All</span>
				</button>
			</div>
			<actions-view data-provider="actions" data-actions-length="[[actions.length]]">
				<template>
					<action-view class="sc-window ui-list-element" data-type="[[data.type]]" data-model="data" data-selected="[[data.isSelectedItem]]">
						<div class="sc-title">
							<div class="sc-drag-area ui-list-drag-area"></div>
							<div class="sc-tabs">
								<span class="sc-tab sc-title-tab">
									<input class="sc-label" size="[[data.name.length]]" is="ui-input" data-model="data.name"/>
								</span>
								<span class="sc-tab">
									<button class="play-button" is="ui-button" data-click="data.play" data-is-playing="[[data.isPlaying]]">
										<span class="sc-label">Play</span>
									</button>
								</span>
								<span class="sc-tab">
									<button class="capture-button" is="ui-button" data-click="data.capture" data-is-captureable="[[data.isCaptureable]]" data-is-capturing="[[data.isCapturing]]">
										<span class="sc-label">Capture</span>
									</button>
								</span>
							</div>
							<div class="sc-tab">
								<button class="close-button" data-model="data" is="ui-button"></button>
							</div>
						</div>
						<div class="sc-fields" is="ui-component">
							<div class="sc-action-fields" is="ui-list" data-provider="data.array">
								<template data-type="ActionScroll">
									<div class="sc-action sc-fields-list" is="action-tween">
										<!-- <div class="sc-field">
											<span class="sc-label">units</span>
											<div class="sc-select">
												<select data-provider="data.units" data-model="data.units.selectedItem" is="ui-select"></select>
											</div>
										</div> -->
										<div class="sc-field">
											<span class="sc-label">Selector:</span><input type="text" data-model="data.target" is="ui-input"/>
										</div>
										<div class="sc-field-group">
											<div class="sc-field">
												<span class="sc-label">Left:</span><input type="number" step="1" data-model="data.unitX" is="ui-input" data-event-focus="data.doScroll"/>
											</div>
											<div class="sc-field">
											<span class="sc-label">Top:</span><input type="number" step="1" data-model="data.unitY" is="ui-input" data-event-focus="data.doScroll"/>
											</div>
										</div>
									</div>
								</template>
								<template data-type="ActionSwipe">
									<div class="sc-action sc-fields-list" is="action-tween">
										<div class="points" data-provider="data.points" is="ui-list">
											<template>
												<div class="sc-field-group">
													<div class="sc-field">
														<span class="sc-label" is="ui-text">PageX<sup>[[index1]]</sup>:</span>
														<input type="number" data-model="data.x" is="ui-input"/>
													</div>
													<div class="sc-field">
														<span class="sc-label" is="ui-text">PageY<sup>[[index1]]</sup>:</span>
														<input type="number" data-model="data.y" is="ui-input"/>
													</div>
												</div>
											</template>
										</div>
									</div>
								</template>
								<template data-type="ActionMouseEvent">
									<div class="sc-action sc-fields-list">
										<div class="sc-field-group">
											<div class="sc-field">
												<span class="sc-label">PageX:</span>
												<input type="text" data-model="data.x" is="ui-input"/>
											</div>
											<div class="sc-field">
												<span class="sc-label">PageY:</span>
												<input type="text" data-model="data.y" is="ui-input"/>
											</div>
										</div>
										<div class="sc-field-group">
											<div class="sc-field">
												<span class="sc-label">Type:</span>
												<div class="sc-select">
													<select data-provider="data.eventTypes" data-model="data.eventTypes.selectedItem" is="ui-select"></select>
												</div>
											</div>
											<div class="sc-field">
												<span class="sc-label">Delay:</span><input type="number" step="0.25" data-model="data.delay" is="ui-input"/>
											</div>
										</div>
									</div>
								</template>
								<template data-type="ActionWait">
									<div class="sc-action sc-fields-list">
										<div class="sc-field">
											<span class="sc-label">Delay:</span><input type="number" step="0.25" data-model="data.delay" is="ui-input"/>
										</div>
									</div>
								</template>
								<template data-type="ActionEval">
									<div class="sc-action sc-fields-list">
										<div class="sc-field">
											<textarea rows="5" data-model="data.code" is="ui-input"></textarea>
										</div>
										<div class="sc-field-group">
											<div class="sc-field">
												<span class="sc-label">Delay:</span>
												<input type="number" step="0.25" data-model="data.delay" is="ui-input"/>
											</div>
											<div></div>
										</div>
									</div>
								</template>
							</div>
						</div>
					</action-view>
				</template>
			</actions-view>
			<footer>
				<div class="sc-window">
<!--					<div class="sc-title">-->
<!--						<span class="sc-tab">Add an action</span>-->
<!--					</div>-->
					<div class="sc-fields">
						<div class="sc-field">
							<div class="sc-select">
								<select is="ui-select" data-valuePath="type" data-provider="actions.types" data-model="actions.types.selectedItem">
									<template data-type="*">
										<option is="ui-text" value="[[data.type]]" data-model="data.name"></option>
									</template>
								</select>
							</div>
							<button class="add-button" is="ui-button" data-click="actions.addSelectedType"></button>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
</scroll-capture>