<div
  class="sc-default"
  is="scroll-capture"
  data-theme-light="{scope.settings.isColorThemeLight.value}"
  set:position="scope.settings.position"
  style="right:{scope.settings.position.x.value}px; top:{scope.settings.position.y.value}px;"
>
  <!-- <ul is="ui-list" set:provider="scope.actions">
		<template>
			<label>
				<input class="test-radio" type="radio" is="ui-input" value="{scope.data.name.value}" name="options1" bind:model="scope.rootScope.selectedAction" />
				<span is="ui-text">{scope.data.name.value}</span>
			</label>
		</template>
	</ul>
	<ul is="ui-list" set:provider="scope.actions">
		<template>
			<label>
				<input class="test-radio" type="radio" is="ui-component" value="{scope.data.name.value}" name="options2" set:checked="(scope.rootScope.selectedAction == element.value);" on:change="scope.rootScope.selectedAction = element.value" />
				<span is="ui-text">{scope.data.name.value}</span>
			</label>
		</template>
	</ul>
	<select is="ui-select" set:provider="scope.actions" bind:value="scope.selectedAction">
		<template>
			<option is="ui-text" value="{scope.data.name.value}">{scope.data.name.value}</option>
		</template>
	</select> -->
  <span class="sc-drag-area"></span>
  <div>
    <div class="sc-window sc-window-main" is="ui-component">
      <div class="sc-title">
        <span class="sc-tabs">
          <span class="sc-drag-area"></span>
          <span class="sc-tab" is="sc-section-tab" set:path="'scroll-capture/video'" set:location="scope.location">
            <span class="sc-drag-area"></span>
            <button is="router-button" data-path="scroll-capture/video" title="Video Capture">
              <span class="sc-icon fa-solid fa-film"></span>
              <span class="sc-label">Video Capture</span>
            </button>
          </span>
          <span class="sc-tab" is="sc-section-tab" set:path="'scroll-capture/image'" set:location="scope.location">
            <span class="sc-drag-area"></span>
            <button is="router-button" data-path="scroll-capture/image" title="Image Capture">
              <span class="sc-icon fa-solid fa-image"></span>
              <span class="sc-label">Image Capture</span>
            </button>
          </span>
        </span>
        <span class="sc-tabs">
          <span class="sc-tab" is="sc-section-tab" set:path="'scroll-capture/info'" set:location="scope.location">
            <span class="sc-drag-area"></span>
            <button is="router-button" data-path="scroll-capture/info" title="Info">
              <span class="sc-icon fa-solid fa-circle-info"></span>
              <!-- <span class="sc-label">Info</span> -->
            </button>
          </span>
          <span class="sc-tab">
            <span class="sc-drag-area"></span>
            <button is="router-button" data-path="closed" title="Close">
              <span class="sc-icon fa-solid fa-times-circle"></span>
            </button>
          </span>
        </span>
      </div>
      <div class="sc-window-content" is="ui-component">
        <sc-capture-video class="sc-section sc-fields">
          <div is="ui-component">
            <div class="sc-window sc-window-sections" is="ui-component">
              <div class="sc-title">
                <span class="sc-tabs">
                  <span class="sc-tab" is="sc-section-tab" set:path="'scroll-capture/video/scenario'" set:location="scope.location">
                    <button is="router-button" data-path="scroll-capture/video/scenario" title="Timeline">
                      <!-- <span class="sc-icon fa-solid fa-sliders-h"></span> -->
                      <span class="sc-icon fa-solid fa-clapperboard"></span>
                      <span class="sc-label">Timeline</span>
                    </button>
                  </span>
                  <span class="sc-tab" is="sc-section-tab" set:path="'scroll-capture/video/settings'" set:location="scope.location">
                    <button is="router-button" data-path="scroll-capture/video/settings" title="Settings">
                      <span class="sc-icon fa-solid fa-sliders"></span>
                      <span class="sc-label">Settings</span>
                    </button>
                  </span>
                  <span class="sc-tab" is="sc-section-tab" set:path="'scroll-capture/video/video'" set:location="scope.location">
                    <button is="router-button" data-path="record" title="Capture">
                      <span class="sc-icon fa-solid fa-video"></span>
                      <span class="sc-label">Capture</span>
                    </button>
                  </span>
                </span>
                <span class="sc-tabs" is="ui-component"></span>
              </div>
              <div class="sc-window-content" is="ui-component">
                <sc-scenario class="sc-section sc-fields">
                  <sc-actions-view data-actions-length="{scope.actions.length.value}" set:provider="scope.actions">
                    <template>
                      <div
                        class="sc-window ui-list-element"
                        is="sc-action-view"
                        data-type="{scope.data.type}"
                        set:model="scope.data"
                        data-selected="{scope.data.isSelectedItem.value}"
                      >
                        <div class="sc-title">
                          <span class="sc-tabs">
                            <div class="ui-list-drag-area"></div>
                            <span class="sc-tab sc-title-tab" title="{scope.data.name.value}" is="ui-component">
                              <div class="ui-list-drag-area"></div>
                              <span class="sc-tab-wrapper">
                                <span class="sc-icon {scope.data.icon.value}" is="ui-component"></span>
                                <span class="sc-label">
                                  <input size="{scope.data.name.length.value}" is="ui-input" bind:model="scope.data.name.value" />
                                </span>
                              </span>
                            </span>
                          </span>
                          <span class="sc-tabs">
                            <span class="sc-tab" data-visible="{scope.data.isTestable.value}" is="ui-component">
                              <div class="ui-list-drag-area"></div>
                              <button
                                class="sc-test-button"
                                is="ui-button"
                                set:model="scope.data"
                                on:click="model.play()"
                                data-is-playing="{scope.data.isPlaying.value}"
                                title="Play"
                              >
                                <span class="sc-icon fa-solid fa-play"></span>
                              </button>
                            </span>
                            <span class="sc-tab" data-visible="{scope.data.isCaptureable.value}" is="ui-component">
                              <div class="ui-list-drag-area"></div>
                              <button
                                class="sc-set-button"
                                is="ui-button"
                                data-is-capturing="{scope.data.isCapturing.value}"
                                set:model="scope.data"
                                on:click="model.reCapture()"
                                title="Set Value"
                              >
                                <span class="sc-icon fa-solid fa-bullseye"></span>
                              </button>
                            </span>
                            <span class="sc-tab" data-visible="{scope.data.isDuplicateable.value}" is="ui-component">
                              <div class="ui-list-drag-area"></div>
                              <button class="sc-set-button" is="ui-button" set:model="scope.data" on:click="scope.rootScope.actions.duplicateAction(model);" title="Duplicate">
                                <span class="sc-icon fa-regular fa-clone"></span>
                              </button>
                            </span>
                            <span class="sc-tab">
                              <div class="ui-list-drag-area"></div>
                              <button class="sc-trash-button" is="ui-button" set:model="scope.data" on:click="scope.rootScope.actions.removeAction(model);" title="Delete">
                                <span class="sc-icon fa-solid fa-trash-alt"></span>
                              </button>
                            </span>
                          </span>
                        </div>
                        <div class="sc-window-content" is="ui-component">
                          <div class="sc-fields" is="ui-component">
                            <div class="sc-action-fields" is="ui-list" set:provider="scope.data.array">
                              <template data-type="ActionScroll">
                                <div class="sc-action sc-fields-list" is="action-tween">
                                  <div class="sc-field">
                                    <span class="sc-input" title="ScrollLeft">
                                      <span class="sc-icon fa-solid fa-left-right"></span>
                                      <span class="sc-input-group">
                                        <span class="sc-input-unit" is="ui-text" data-unit="px">{scope.data.unitX.value}</span>
                                        <input type="number" placeholder="0" min="0" is="ui-input" bind:model="scope.data.unitX.value" on:focus="scope.data.doScroll()" />
                                      </span>
                                    </span>
                                    <span class="sc-input" title="ScrollTop">
                                      <span class="sc-icon fa-solid fa-up-down"></span>
                                      <span class="sc-input-group">
                                        <span class="sc-input-unit" is="ui-text" data-unit="px">{scope.data.unitY.value}</span>
                                        <input type="number" placeholder="0" min="0" is="ui-input" bind:model="scope.data.unitY.value" on:focus="scope.data.doScroll()" />
                                      </span>
                                    </span>
                                  </div>
                                  <div class="sc-field">
                                    <div class="sc-input sc-select" title="Target Selector">
                                      <span class="sc-icon fa-solid fa-location-crosshairs"></span>
                                      <select is="ui-select" set:provider="scope.data.targets" bind:value="scope.data.target.value"></select>
                                    </div>
                                    <div class="sc-input sc-select" title="Animation Timing">
                                      <span class="sc-icon fa-solid fa-shuffle"></span>
                                      <select is="ui-select" set:provider="scope.data.tweenTypes" bind:value="scope.data.tweenType.id">
                                        <template>
                                          <option is="ui-text" value="{scope.data.id}">{scope.data.option}</option>
                                        </template>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </template>
                              <template data-type="ActionSwipe">
                                <div class="sc-action sc-fields-list" is="action-tween">
                                  <div class="sc-points-list sc-field-column" is="ui-list" set:provider="scope.data.points">
                                    <template>
                                      <div class="sc-field">
                                        <span class="sc-input" title="PageX">
                                          <span class="sc-icon fa-solid fa-left-right"></span>
                                          <span class="sc-input-group">
                                            <span class="sc-input-unit" is="ui-text" data-unit="px">{scope.data.x.value}</span>
                                            <input type="number" min="0" placeholder="0" step="1" is="ui-input" bind:model="scope.data.x.value" />
                                          </span>
                                        </span>
                                        <span class="sc-input" title="PageY">
                                          <span class="sc-icon fa-solid fa-up-down"></span>
                                          <span class="sc-input-group">
                                            <span class="sc-input-unit" is="ui-text" data-unit="px">{scope.data.y.value}</span>
                                            <input type="number" min="0" placeholder="0" step="1" is="ui-input" bind:model="scope.data.y.value" />
                                          </span>
                                        </span>
                                      </div>
                                    </template>
                                  </div>
                                </div>
                              </template>
                              <template data-type="ActionMouseEvent">
                                <div class="sc-action sc-fields-list">
                                  <div class="sc-field">
                                    <span class="sc-input">
                                      <span class="sc-icon fa-solid fa-left-right"></span>
                                      <span class="sc-input-group">
                                        <span class="sc-input-unit" is="ui-text" data-unit="px">{scope.data.x.value}</span>
                                        <input type="number" step="1" min="0" placeholder="0" title="PageX" is="ui-input" bind:model="scope.data.x.value" />
                                      </span>
                                    </span>
                                    <span class="sc-input">
                                      <span class="sc-icon fa-solid fa-up-down"></span>
                                      <span class="sc-input-group">
                                        <span class="sc-input-unit" is="ui-text" data-unit="px">{scope.data.y.value}</span>
                                        <input type="number" step="1" min="0" placeholder="0" title="PageY" is="ui-input" bind:model="scope.data.y.value" />
                                      </span>
                                    </span>
                                  </div>
                                  <div class="sc-field">
                                    <span class="sc-input sc-select" title="MouseEvent Type">
                                      <span class="sc-icon fa-solid fa-mouse-pointer"></span>
                                      <select is="ui-select" set:provider="scope.data.eventTypes" bind:value="scope.data.eventTypes.selectedItem.value"></select>
                                    </span>
                                    <span class="sc-input" title="Delay">
                                      <span class="sc-icon fa-solid fa-hourglass-half"></span>
                                      <span class="sc-input-group">
                                        <span class="sc-input-unit" is="ui-text" data-unit="s">{scope.data.delay.value}</span>
                                        <input type="number" step="0.25" min="0" placeholder="0" is="ui-input" bind:model="scope.data.delay.value" />
                                      </span>
                                    </span>
                                  </div>
                                </div>
                              </template>
                              <template data-type="ActionWait">
                                <div class="sc-action sc-fields-list">
                                  <div class="sc-field">
                                    <span class="sc-input" title="Duration">
                                      <span class="sc-icon fa-solid fa-clock"></span>
                                      <span class="sc-input-group">
                                        <span class="sc-input-unit" is="ui-text" data-unit="s">{scope.data.delay.value}</span>
                                        <input type="number" step="0.25" min="0" placeholder="0" is="ui-input" bind:model="scope.data.delay.value" />
                                      </span>
                                    </span>
                                    <span class="sc-space"></span>
                                  </div>
                                </div>
                              </template>
                              <template data-type="ActionURL">
                                <div class="sc-action sc-fields-list">
                                  <div class="sc-field">
                                    <span class="sc-input" title="URL">
                                      <!-- <span class="sc-icon fa-solid fa-link"></span> -->
                                      <input type="text" placeholder="window" is="ui-input" bind:model="scope.data.url.value" />
                                    </span>
                                  </div>
                                  <div class="sc-field">
                                    <span class="sc-input" title="Delay">
                                      <span class="sc-icon fa-solid fa-hourglass-half"></span>
                                      <span class="sc-input-group">
                                        <span class="sc-input-unit" is="ui-text" data-unit="s">{scope.data.delay.value}</span>
                                        <input type="number" step="0.25" min="0" placeholder="0" is="ui-input" bind:model="scope.data.delay.value" />
                                      </span>
                                    </span>
                                    <span class="sc-space"></span>
                                  </div>
                                </div>
                              </template>
                              <template data-type="ActionEval">
                                <div class="sc-action sc-fields-list">
                                  <div class="sc-field">
                                    <div class="sc-text">This action is incompatible with Chrome Extension Manifest V3, please remove it.</div>
                                  </div>
                                </div>
                              </template>
                              <template data-type="ActionCSS">
                                <div class="sc-action sc-fields-list">
                                  <div class="sc-field">
                                    <textarea rows="5" is="ui-input" bind:model="scope.data.code.value"></textarea>
                                  </div>
                                  <div class="sc-field">
                                    <span class="sc-input" title="Delay">
                                      <span class="sc-icon fa-solid fa-hourglass-half"></span>
                                      <span class="sc-input-group">
                                        <span class="sc-input-unit" is="ui-text" data-unit="s">{scope.data.delay.value}</span>
                                        <input type="number" step="0.25" min="0" placeholder="0" is="ui-input" bind:model="scope.data.delay.value" />
                                      </span>
                                    </span>
                                    <span class="sc-space"></span>
                                  </div>
                                </div>
                              </template>
                            </div>
                          </div>
                        </div>
                      </div>
                    </template>
                  </sc-actions-view>
                  <div>
                    <sc-action-buttons>
                      <div class="sc-buttons" is="ui-list" set:provider="scope.actions.types">
                        <template>
                          <button
                            class="sc-action-button"
                            data-type="{scope.data.type}"
                            set:model="scope.data"
                            is="ui-button"
                            title="{scope.data.description.value}"
                            on:click="scope.rootScope.actions.cloneAction(model)"
                          >
                            <span class="sc-icon {scope.data.icon.value}" is="ui-component"></span>
                          </button>
                        </template>
                      </div>
                      <div class="sc-buttons">
                        <!-- <span class="sc-tab" is="sc-section-tab" set:path="'play'" set:location="scope.location"> -->
                        <button is="router-button" data-path="play" title="Play All">
                          <span class="sc-icon fa-solid fa-circle-play"></span>
                          <!-- <span class="sc-label">Play</span> -->
                        </button>
                        <!-- </span> -->
                        <button is="ui-button" on:click="scope.clearActions()" title="Delete All">
                          <span class="sc-icon fa-solid fa-trash-alt"></span>
                        </button>
                      </div>
                    </sc-action-buttons>
                  </div>
                </sc-scenario>
                <sc-video-settings class="sc-section sc-fields">
                  <div>
                    <div class="sc-window">
                      <!-- <div class="sc-title">
                        <span class="sc-tabs">
                          <span class="sc-tab sc-title-tab">
                            <span class="sc-icon fa-solid fa-gear"></span>
                            <span class="sc-label">Configuration</span>
                          </span>
                        </span>
                        <span class="sc-tabs"></span>
                      </div> -->
                      <div class="sc-window-content" is="ui-component">
                        <div class="sc-fields" is="ui-component">
                          <!-- <div class="sc-field" title="Video Format">
														<div class="sc-space">
															<span class="sc-icon fa-solid fa-file"></span>
															<span class="sc-label">Video Format</span>
														</div>
														<div class="sc-input sc-select">
															<select is="ui-select" set:provider="scope.settings.format" bind:value="scope.settings.format.selectedItem.value"></select>
														</div>
													</div> -->

                          <div class="sc-field-group">
                            <div class="sc-field" title="Video Track">
                              <div class="sc-space">
                                <span class="sc-icon">
                                  <span class="fa-solid fa-video" is="ui-component" data-visible="{scope.settings.exportVideo.value}"></span>
                                  <span class="fa-solid fa-video-slash" is="ui-component" data-visible="{!scope.settings.exportVideo.value}"></span>
                                </span>
                                <span class="sc-label">Video</span>
                              </div>
                              <label class="sc-input sc-radio">
                                <input type="checkbox" bind:model="scope.settings.exportVideo.value" is="ui-input" />
                                <span class="sc-radio-content">
                                  <span class="sc-icon">
                                    <span class="fa-solid fa-toggle-on" is="ui-component" data-visible="{scope.settings.exportVideo.value}"></span>
                                    <span class="fa-solid fa-toggle-off" is="ui-component" data-visible="{!scope.settings.exportVideo.value}"></span>
                                  </span>
                                  <span class="sc-radio-label">
                                    <span is="ui-component" data-visible="{scope.settings.exportVideo.value}">On</span>
                                    <span is="ui-component" data-visible="{!scope.settings.exportVideo.value}">Off</span>
                                  </span>
                                </span>
                              </label>
                              <!-- <div class="sc-input sc-select" title="Video Codec">
																<select is="ui-select" set:provider="scope.settings.videoCodecs" bind:value="scope.settings.videoCodecs.selectedItem.value"></select>
															</div> -->
                            </div>
                            <div class="sc-field" title="Video Bitrate">
                              <span class="sc-input">
                                <span class="sc-input-group">
                                  <span class="sc-input-unit" is="ui-text" data-unit="Mbps">{scope.settings.videoBitsPerSecond.value}</span>
                                  <input type="number" min="1" max="64" step="1" placeholder="24" is="ui-input" bind:model="scope.settings.videoBitsPerSecond.value" />
                                </span>
                              </span>
                              <input type="range" min="1" max="64" step="1" is="ui-input" bind:model="scope.settings.videoBitsPerSecond.value" />
                            </div>
                          </div>

                          <div class="sc-field-group">
                            <div class="sc-field" title="Audio Track">
                              <div class="sc-space">
                                <span class="sc-icon">
                                  <span class="fa-solid fa-volume-high" is="ui-component" data-visible="{scope.settings.exportAudio.value}"></span>
                                  <span class="fa-solid fa-volume-xmark" is="ui-component" data-visible="{!scope.settings.exportAudio.value}"></span>
                                </span>
                                <span class="sc-label">Audio</span>
                              </div>
                              <label class="sc-input sc-radio">
                                <input type="checkbox" bind:model="scope.settings.exportAudio.value" is="ui-input" />
                                <span class="sc-radio-content">
                                  <span class="sc-icon">
                                    <span class="fa-solid fa-toggle-on" is="ui-component" data-visible="{scope.settings.exportAudio.value}"></span>
                                    <span class="fa-solid fa-toggle-off" is="ui-component" data-visible="{!scope.settings.exportAudio.value}"></span>
                                  </span>
                                  <span class="sc-radio-label">
                                    <span is="ui-component" data-visible="{scope.settings.exportAudio.value}">On</span>
                                    <span is="ui-component" data-visible="{!scope.settings.exportAudio.value}">Off</span>
                                  </span>
                                </span>
                              </label>
                              <!-- <div class="sc-input sc-select">
																<select is="ui-select" set:provider="scope.settings.audioCodecs" bind:value="scope.settings.audioCodecs.selectedItem.value"></select>
															</div> -->
                            </div>
                            <div class="sc-field" title="Audio Bitrate">
                              <span class="sc-input">
                                <span class="sc-input-group">
                                  <span class="sc-input-unit" is="ui-text" data-unit="kbps">{scope.settings.audioBitsPerSecond.value}</span>
                                  <input type="number" min="16" max="320" step="16" placeholder="256" is="ui-input" bind:model="scope.settings.audioBitsPerSecond.value" />
                                </span>
                              </span>
                              <input type="range" min="16" max="320" step="16" is="ui-input" bind:model="scope.settings.audioBitsPerSecond.value" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div is="general-settings"></div>
                  </div>
                </sc-video-settings>
                <sc-video class="sc-section sc-fields">
                  <div>
                    <iframe></iframe>
                  </div>
                </sc-video>
              </div>
            </div>
          </div>
        </sc-capture-video>

        <sc-capture-image class="sc-section sc-fields"></sc-capture-image>

        <sc-info class="sc-section sc-fields"></sc-info>

        <!-- <div class="sc-footer" is="ui-component">
          <sc-credits>
            <a href="http://www.patrickmatte.com" target="_blank">Made by Matte</a>
          </sc-credits>
          <sc-sponsor>
            <a class="support" href="https://github.com/sponsors/patrickmatte/?frequency=one-time&amount=15" target="_blank">
              <i class="icon fa-solid fa-heart"></i>
              <span>Sponsor</span>
            </a>
          </sc-sponsor>
        </div> -->
      </div>
    </div>
  </div>
</div>
