<div class="sc-default" is="scroll-capture" data-model="." data-theme-light="[[settings.isColorThemeLight]]">
	<div class="sc-window sc-window-main" is="ui-component">

		<div class="sc-title">
			<div class="sc-drag-area"></div>
			<span class="sc-tabs">
				<span class="sc-tab sc-title-tab">
					<span class="sc-label">Scroll Capture</span>
				</span>
			</span>
			<span class="sc-tabs">
				<!-- <span class="sc-tab">
					<button title="Toggle color theme" is="ui-toggle" data-model="settings.isColorThemeLight">
						<span class="sc-icon fas fa-adjust"></span>
					</button>
				</span> -->
				<span class="sc-tab">
					<button is="router-button" data-path="" title="Close">
						<span class="sc-icon fas fa-times-circle"></span>
					</button>
				</span>
			</span>
		</div>

		<div class="sc-window-content" is="ui-component">

			<div class="sc-fields" is="ui-component">
				<div is="ui-component">
					<div class="sc-window sc-window-sections" is="ui-component">
						<div class="sc-title">
							<span class="sc-tabs">
								<span class="sc-tab" data-id="scenario">
									<button is="router-button" data-path="scroll-capture/scenario" title="Timeline">
										<!-- <span class="sc-icon fas fa-sliders-h"></span> -->
										<span class="sc-icon fas fa-stream"></span>
										<span class="sc-label">Timeline</span>
									</button>
								</span>
								<!-- <span class="sc-tab" data-id="play" is="ui-component">
									<button is="router-button" data-path="play" title="Play">
										<span class="sc-icon fas fa-play"></span>
										<span class="sc-label">Play</span>
									</button>
								</span> -->
								<span class="sc-tab" data-id="video" is="ui-component">
									<button is="router-button" data-path="record" title="Record">
										<span class="sc-icon fas fa-video"></span>
										<span class="sc-label">Record</span>
									</button>
								</span>
								<span class="sc-tab" data-id="settings">
									<button is="router-button" data-path="scroll-capture/settings" title="Settings">
										<span class="sc-icon fas fa-cogs"></span>
										<span class="sc-label">Settings</span>
									</button>
								</span>
							</span>
							<span class="sc-tabs" is="ui-component">
							</span>
						</div>
						<div class="sc-window-content" is="sc-window-content-main" is="ui-component">

								<sc-scenario class="sc-section sc-fields" is="ui-component">
									<sc-actions-view data-provider="actions" data-actions-length="[[actions.length]]">
										<template>
											<sc-action-view class="sc-window ui-list-element" data-type="[[data.type]]" data-model="data" data-selected="[[data.isSelectedItem]]">
												<div class="sc-title">
													<div class="sc-drag-area ui-list-drag-area"></div>
													<span class="sc-tabs">
														<span class="sc-tab sc-title-tab">
															<div class="ui-list-drag-area"></div>
															<span class="sc-tab-wrapper">
																<span class="sc-icon [[data.icon]]" is="ui-component"></span>
																<span class="sc-label">
																	<input size="[[data.name.length]]" is="ui-input" data-model="data.name" />
																</span>
															</span>
														</span>
													</span>
													<span class="sc-tabs">
														<span class="sc-tab" data-visible="[[data.isCaptureable]]" is="ui-component">
															<div class="ui-list-drag-area"></div>
															<button class="sc-set-button" is="ui-button" data-click="data.capture" data-is-capturing="[[data.isCapturing]]" title="Set">
																<span class="sc-icon fas fa-bullseye"></span>
															</button>
														</span>
														<span class="sc-tab" data-visible="[[data.isTestable]]" is="ui-component">
															<div class="ui-list-drag-area"></div>
															<button class="sc-test-button" is="ui-button" data-click="data.play" data-is-playing="[[data.isPlaying]]" title="Play">
																<span class="sc-icon fas fa-play-circle"></span>
															</button>
														</span>
														<span class="sc-tab">
															<div class="ui-list-drag-area"></div>
															<button class="sc-trash-button" data-model="data" is="ui-button" data-event-click="data.deleteAction" title="Delete">
																<span class="sc-icon fas fa-trash-alt"></span>
															</button>
														</span>
													</span>
												</div>
												<div class="sc-window-content" is="ui-component">
													<div class="sc-fields" is="ui-component">
														<div class="sc-action-fields" is="ui-list" data-provider="data.array">
															<template data-type="ActionScroll">
																<div class="sc-action sc-fields-list" is="action-tween">
																	<!--
																	<div class="sc-field">
																		<span class="sc-label">units</span>
																		<div class="sc-select">
																			<select data-provider="data.units" data-model="data.units.selectedItem" is="ui-select"></select>
																		</div>
																	</div>
																	-->
																	<div class="sc-field">
																		<span class="sc-label">Selector:</span>
																		<input type="text" data-model="data.target" is="ui-input" />
																	</div>
																	<div class="sc-field">
																		<span class="sc-label">Coords:</span>
																		<span class="sc-input">
																			<input type="number" step="1" data-model="data.unitX" is="ui-input" data-event-focus="data.doScroll" title="Left"/>
																			<span class="sc-unit">px</span>
																		</span>
																		<span class="sc-input">
																			<input type="number" step="1" data-model="data.unitY" is="ui-input" data-event-focus="data.doScroll" title="Top"/>
																			<span class="sc-unit">px</span>
																		</span>
																	</div>
																</div>
															</template>
															<template data-type="ActionSwipe">
																<div class="sc-action sc-fields-list" is="action-tween">
																	<div class="sc-points-list sc-field-column" data-provider="data.points" is="ui-list">
																		<template>
																			<div class="sc-field">
																				<span class="sc-label" is="ui-text">
																					<span>Coords[<span>[[index]]</span>]:</span>
																				</span>
																				<span class="sc-input">
																					<input type="number" step="1" data-model="data.x" is="ui-input" title="PageX" />
																					<span class="sc-unit">px</span>
																				</span>
																				<span class="sc-input">
																					<input type="number" step="1" data-model="data.y" is="ui-input" title="PageY" />
																					<span class="sc-unit">px</span>
																				</span>
																			</div>
																		</template>
																	</div>
																</div>
															</template>
															<template data-type="ActionMouseEvent">
																<div class="sc-action sc-fields-list">
																	<div class="sc-field">
																		<span class="sc-label">Type:</span>
																		<div class="sc-select">
																			<select data-provider="data.eventTypes" data-model="data.eventTypes.selectedItem" is="ui-select" title="Type"></select>
																		</div>
																	</div>
																	<div class="sc-field">
																		<span class="sc-label">Coords:</span>
																		<span class="sc-input">
																			<input type="number" step="1" data-model="data.x" is="ui-input" title="PageX"/>
																			<span class="sc-unit">px</span>
																		</span>
																		<span class="sc-input">
																			<input type="number" step="1" data-model="data.y" is="ui-input" title="PageY"/>
																			<span class="sc-unit">px</span>
																		</span>
																	</div>
																	<div class="sc-field">
																		<span class="sc-label">Delay:</span>
																		<span class="sc-input">
																			<input type="number" step="0.25" data-model="data.delay" is="ui-input" title="Delay" />
																			<span class="sc-unit">s</span>
																		</span>
																	</div>
																</div>
															</template>
															<template data-type="ActionWait">
																<div class="sc-action sc-fields-list">
																	<div class="sc-field">
																		<span class="sc-label">Duration:</span>
																		<input type="number" step="0.25" data-model="data.delay" is="ui-input" title="Duration" />
																		<span class="sc-unit">s</span>
																	</div>
																</div>
															</template>
															<template data-type="ActionEval">
																<div class="sc-action sc-fields-list">
																	<div class="sc-field">
																		<textarea rows="5" data-model="data.code" is="ui-input"></textarea>
																	</div>
																	<div class="sc-field">
																		<span class="sc-label">Delay:</span>
																		<input type="number" step="0.25" data-model="data.delay" is="ui-input" title="Duration"/>
																		<span class="sc-unit">s</span>
																	</div>
																</div>
															</template>
														</div>
													</div>
												</div>
											</sc-action-view>
										</template>
									</sc-actions-view>
									<div class="sc-action-buttons">
										<div class="sc-buttons" is="ui-list" data-provider="actions.types">
											<template>
												<button class="sc-action-button" data-type="[[data.type]]" data-model="data" is="ui-button" title="[[data.description]]" data-click="data.addAction">
													<span class="sc-icon [[data.icon]]" is="ui-component"></span>
												</button>
											</template>
										</div>
										<div class="sc-buttons">
											<button is="ui-button" data-event-click="clearActions" title="Delete all">
												<span class="sc-icon fas fa-trash-alt"></span>
											</button>
										</div>
									</div>
								</sc-scenario>

								<sc-video class="sc-section sc-fields">
									<div>
										<iframe></iframe>
									</div>
								</sc-video>

								<sc-settings class="sc-section sc-fields" is="ui-component">
									<div>
										<div class="sc-window">
											<div class="sc-title">
												<span class="sc-tabs">
													<span class="sc-tab sc-title-tab">
														<span class="sc-icon fas fa-adjust"></span>
														<span class="sc-label">Color theme</span>
													</span>
												</span>
												<span class="sc-tabs"></span>
											</div>
											<div class="sc-window-content" is="ui-component">
												<div class="sc-fields" is="ui-component">
													<div class="sc-color-themes" data-provider="settings.colorThemes" is="ui-list">
														<template>
															<label class="sc-radio">
																<input type="radio" name="color-theme" is="ui-input" value="[[data]]" data-model="parent.settings.colorThemes.selectedItem" />
																<span class="box">
																	<span class="icon fas fa-check"></span>
																</span>
																<span is="ui-text" data-model="data"></span>
															</label>
														</template>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="sc-window">
											<div class="sc-title">
												<span class="sc-tabs">
													<span class="sc-tab sc-title-tab">
														<span class="sc-icon fas fa-video"></span>
														<span class="sc-label">Video</span>
													</span>
												</span>
												<span class="sc-tabs"></span>
											</div>
											<div class="sc-window-content" is="ui-component">
												<div class="sc-fields" is="ui-component">
													<div class="sc-field-group">
														<div class="sc-field">
															<span class="sc-label">Codec:</span>
															<div class="sc-select">
																<select data-provider="settings.videoCodecs" data-model="settings.videoCodecs.selectedItem" is="ui-select"></select>
															</div>
														</div>
													</div>
													<div class="sc-field">
														<span class="sc-label">Bitrate:</span>
														<input type="range" min="1" max="8" step="1" data-model="settings.videoBitsPerSecond" is="ui-input" />
														<span class="sc-label">
															<span is="ui-text" data-model="settings.videoBitsPerSecond"></span>
															<span class="unit">&nbsp;Mbps</span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="sc-window">
											<div class="sc-title">
												<span class="sc-tabs">
													<span class="sc-tab sc-title-tab">
														<span class="sc-icon fas fa-volume-up"></span>
														<span class="sc-label">Audio</span>
													</span>
												</span>
												<span class="sc-tabs"></span>
											</div>
											<div class="sc-window-content" is="ui-component">
												<div class="sc-fields" is="ui-component">
													<div class="sc-field-group">
														<div class="sc-field">
															<span class="sc-label">Codec:</span>
															<div class="sc-select">
																<select data-provider="settings.audioCodecs" data-model="settings.audioCodecs.selectedItem" is="ui-select"></select>
															</div>
														</div>
													</div>
													<div class="sc-field">
														<span class="sc-label">Bitrate:</span>
														<input type="range" min="16" max="128" step="16" data-model="settings.audioBitsPerSecond" is="ui-input" />
														<span class="sc-label">
															<span is="ui-text" data-model="settings.audioBitsPerSecond"></span>
															<span class="unit">&nbsp;Kbps</span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</sc-settings>

						</div>
					</div>
				</div>
				<div>
					<sc-credits><a href="http://www.patrickmatte.com" target="_blank"></a></sc-credits>
				</div>
			</div>
		</div>
	</div>
</div>