.sc-default {
    a, button {
		&.sc-set-button {
			&[data-is-captureable="false"] {
				opacity: 0.25;
				pointer-events: none;
				display: none;
			}

			&[data-is-capturing="true"] {
				span {
					opacity: 1;
				}

				.sc-icon {
					opacity: 1;
					color: #ff0000;
				}
			}
		}

		&.sc-test-button {
			&[data-is-playing="true"] {
				opacity: 0.25;

				.sc-icon {
					opacity: 1;
				}
			}
		}
    }
}