.sc-default {
    .easing-graph-container {
		display: inline-block;
		flex-grow: 1;
		flex-shrink: 0;
	}

	[is="easing-graph"] {
		width: 100%;
		padding-bottom: 100%;
		display: inline-block;
		background-color: $inputColorDark;
		border-radius: $borderRadius;

		[is="control-point-lines"] {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			//overflow: hidden;

			[is="control-point-line"] {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 0.1em;
				background-color: $textColorDark;
				transform-origin: 0 50%;
			}
		}

		.control-points {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			//overflow: hidden;

			.control-point { 
				position: absolute;

				.shape {
					position: absolute;
					width: 1.2em;
					height: 1.2em;
					background-color: $textColorDark;
					color: $textColorLight;
					display: block;
					top: -0.6em;
					left: -0.6em;
					border-radius: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					font-weight: 700;

					* {
						pointer-events: none;
					}

					.shape-label {
						font-size: 0.8em;
					}
				}
			}
		}

		.curve {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			display: block;

			polyline {
				fill: none;
				stroke: $textColorDark;
				stroke-miterlimit: 10;
				stroke-opacity: 0.6;
				stroke-dasharray: 0;
				stroke-width: 2;

				&.js {
					stroke: #ff0000;
				}
			}
		}

		.points {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			display: block;

			&.js {
				point {
					&:after {
						background-color: #ff0000;
					}
				}
			}

			point {
				position: absolute;
				width: 0;
				height: 0;
				display: inline-block;

				&:after {
					content: "";
					position: absolute;
					width: 0.4em;
					height: 0.4em;
					background-color: $textColorDark;
					display: inline-block;
					top: -0.2em;
					left: -0.2em;
					border-radius: 100%;
				}
			}
		}
	}
}
