.sc-default {
  sc-info {
    sc-rating {
      background: transparent;
      sc-star {
        width: 1.25em;
      }
    }

    .sc-tutorial {
      position: relative;
      padding-top: 56.25%;
      width: 100%;
      background-image: url('chrome-extension://__MSG_@@extension_id__/assets/images/tutorial.jpg');
      background-size: cover;

      .sc-tutorial-icon {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .sc-white-block {
          position: absolute;
          width: 3em;
          height: 2em;
          background-color: white;
          left: calc(50% - 1.5em);
          top: calc(50% - 1em);
          border-radius: 1.5em;
        }

        span {
          font-size: 3em;
          color: #eb3323;
        }
      }
    }
  }
}
