.sc-default {

	.sc-drag-area {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: block;
	}

    .sc-window {
		border-radius: $borderRadius;
		background-color: $windowColorDark;
		transition: background-color 0.3s ease 0s;
		width: 100%;
		font-size: 0.9em !important;
		margin: 0.75em 0;
		display: block;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

		.sc-title {
			font-weight: bold;
			display: flex;
			justify-content: space-between;

			.ui-list-drag-area {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				display: block;
			}

			.sc-tabs {
				display: inline-flex;

				&:nth-child(1) {
					flex-grow: 1;
					
					.sc-tab {
						background-color: $windowColorDark;

						&.sc-title-tab {
							background-color: $windowColorFrontDark;
							transition: background-color 0.3s ease 0s;
						}
					}
				}
			}

			.sc-tab {
				display: inline-flex;
				border-radius: $borderRadius $borderRadius 0 0;
				padding: 0.75em;
				font-weight: bold;
				align-items: center;

				> * {
					font-size: 1.18em;
				}

				.sc-tab-wrapper {
					display: inline-flex;
					align-items: center;
				}

				.sc-label {
					vertical-align: middle;
					display: none;
				}

				&.sc-title-tab {
					a, button {
						.sc-label {
							opacity: 1;
						}
						
						.sc-icon {
							opacity: 1;
						}
					}
					
					.sc-label {
						display: inline-block;
					}

					
					input {
						max-width: 183px;
						width: auto !important;
						height: auto !important;
						background-color: transparent;
						color: inherit;
						font-weight: inherit;
						font-family: Menlo, 'Courier New', Courier, monospace !important;
					}
				}
			}
		}

		.sc-window-content {
			display: block;
			background-color: $windowColorFrontDark;
			transition: background-color 0.3s ease 0s;
			border-radius: $borderRadius;
		}

		.sc-title + .sc-window-content {
			border-radius: 0 $borderRadius $borderRadius $borderRadius;
		}

		&[data-selected="true"] {
			// background-color: rgba(255, 255, 255, 0.15);
			
			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				box-shadow: inset 0 0 0 1px $windowBorderDark;
				pointer-events: none;
				border-radius: $borderRadius;
			}
		}
    }
}
