screen-capture-pro {
	width: 37.5rem;
	background-color: #000000;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	user-select: none;
	font-size: 1.2rem;
	line-height: 1;
	margin: 0;

	.window.main-window {
		margin: 1rem;
	}

	.row {
		width: 100%;
		display: flex;
		padding: 2rem 1rem;
		justify-content: flex-start;
		align-items: center;
	}

	button {
		padding: 0.5em 1em;
		font-weight: bold;
		border-radius: 0.25rem;
		background-color: rgba(0,0,0,0.1);
		//margin-left: 0.5rem;
		white-space: nowrap;
		line-height: 1;

		&:first-child {
			margin-left: 0;
		}
	}
	.select {
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.1);
		border-radius: 0.25rem;
		font-size: 1em;
		display: inline-block;
		line-height: 1;

		&:after {
			content: "";
			position: absolute;
			top: calc(50% - 0.2em);
			right: 0.6em;
			width: 0;
			height: 0;
			border-left: 0.4em solid transparent;
			border-right: 0.4em solid transparent;
			border-top: 0.45em solid #fff;
		}

		select {
			-webkit-appearance: none;
			appearance: none;
			background: none;
			border: none;
			padding: 0.5em;
			color: #fff;
			display: block;
			width: 100%;
			height: 100%;
			font: inherit;
			line-height: 1;

			option {
				line-height: 1;
			}
		}
	}

	header {
		font-size: 1.4rem;
		font-weight: 700;

		.title {
		}

		button[is="start-button"] {
			text-align: right;
			line-height: 1;
			background-color: transparent;
			border-radius: 0.25rem 0.25rem 0 0;
			padding: 1rem 1rem 0.5rem 1rem;
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}
		}
	}

	.window {
		padding: 0;
		border-radius: 0.25rem;
		background-color: rgba(255,255,255, 0.1);
		margin: 1rem 0;

		.title {
			font-weight: bold;
			font-size: 1em;
			display: flex;
			justify-content: space-between;

			span {
				background-color: rgba(255,255,255,0.1);
				border-radius: 0.25rem 0.25rem 0 0;
				padding: 1rem 1rem 0.5rem 1rem;
			}
		}

		.fields {
			padding: 1rem;
			background-color: rgba(255,255,255,0.1);
			border-radius: 0 0.25rem 0.25rem 0.25rem;

			//&:after {
			//	content: "";
			//	display: block;
			//	position: absolute;
			//	bottom: 0;
			//	left: 0;
			//	width: 100%;
			//	height: 1px;
			//	background-color: rgba(255,255,255, 0.1);
			//}
		}

		.field-group {
			display: flex;
			margin-bottom: 0.5rem;

			&:last-child {
				margin-bottom: 0rem;
			}

			.field {
				margin-right: 2rem;
				margin-bottom: 0rem;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		.field {
			display: flex;
			flex-grow: 1;
			flex-shrink: 1;
			margin-bottom: 0.5rem;
			align-items: center;
			border-radius: 0.25rem;

			&:last-child {
				margin-bottom: 0rem;
			}

			.label {
				width: 6rem;
				flex-shrink: 0;
				flex-grow: 0;
				white-space: nowrap;
				text-align: left;
				//padding-left: 0.5rem;
			}

			input, textarea {
				width: 40%;
				flex-shrink: 0;
				flex-grow: 1;
				color: #fff;
				padding: 0.5rem;
				background-color: rgba(0,0,0,0.1);
				border-radius: 0.25rem;
				font-size: 1em;
				line-height: 1;
				max-width: 100%;
			}

			.select {
				width: 50%;
				flex-shrink: 0;
				flex-grow: 1;
			}

			.unit {
				width: 3rem;
				flex-shrink: 0;
				flex-grow: 0;
				padding-left: 0.5rem;
			}
		}
	}

	actions-view {
		width: 100%;

		action-view {
			display: block;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&.deleted {
				transition: opacity 0.5s ease 0s, transform 0.5s ease-in 0s;
				opacity: 0;
				transform: scaleX(0.5) scaleY(0.5);
			}

			button.delete-button {
				text-align: right;
				line-height: 1;
				background-color: transparent;
				border-radius: 0.25rem 0.25rem 0 0;
				padding: 1rem 1rem 0.5rem 1rem;
				opacity: 0.5;
				text-transform: uppercase;
				font-weight: 700;

				&:hover {
					opacity: 1;
				}
			}
		}
	}

	footer {
		font-weight: 700;

		.window {
			background-color: rgba(0,0,0,0.1);
		}

		.add-button {
			margin-left: 0.5rem;
		}
	}
}
