body[data-pointer-capture='pointer'] * {
  cursor:
    -webkit-image-set(
        url('chrome-extension://__MSG_@@extension_id__/assets/images/customCursor.png') 1x,
        url('chrome-extension://__MSG_@@extension_id__/assets/images/customCursor2x.png') 2x
      )
      10 3,
    auto !important;
  cursor:
    image-set(
        url('chrome-extension://__MSG_@@extension_id__/assets/images/customCursor.png') 1x,
        url('chrome-extension://__MSG_@@extension_id__/assets/images/customCursor2x.png') 2x
      )
      10 3,
    auto !important;
}

body[data-pointer-capture='arrow'] * {
  cursor:
    -webkit-image-set(
        url('chrome-extension://__MSG_@@extension_id__/assets/images/customCursorArrow.png') 1x,
        url('chrome-extension://__MSG_@@extension_id__/assets/images/customCursorArrow2x.png') 2x
      )
      2 2,
    auto !important;
  cursor:
    image-set(
        url('chrome-extension://__MSG_@@extension_id__/assets/images/customCursorArrow.png') 1x,
        url('chrome-extension://__MSG_@@extension_id__/assets/images/customCursorArrow2x.png') 2x
      )
      2 2,
    auto !important;
}

html[data-sc-cursor='false'] {
  cursor: none;

  * {
    cursor: none;

    &:hover {
      cursor: none;
    }
  }
}

html[data-sc-pointer-events='false'] {
  pointer-events: none;

  * {
    pointer-events: none;

    &:hover {
      pointer-events: none;
    }
  }
}

html[data-sc-scrollbars='false'] {
  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    display: none;
  }
}

.sc-default {
  .sc-logo {
    height: 1em;
  }

  .sc-fields {
    display: block;
    padding: 0.75em 0;

    > * {
      padding: 0 0.75em;
      margin-bottom: $fieldMargin;
      width: 100%;

      &:last-child {
        margin-bottom: 0 !important;
      }
    }
    *:has(+ *:last-child[data-display='false']) {
      margin-bottom: 0;
    }
  }

  .sc-fields-list {
    > * {
      margin-bottom: $fieldMargin;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .sc-field-column {
    > * {
      margin-bottom: $fieldMargin;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .sc-footer {
    padding: 0.75em;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    sc-credits {
      font-size: 0.65em;
      display: block;
    }

    sc-sponsor {
      font-size: 0.65em;
      display: block;
    }

    a {
      opacity: 0.5;
      transition: opacity 0.5s ease 0s;

      .icon {
        margin-right: 0.5em;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .sc-color-themes {
    > * {
      margin-left: 0.25em;
      margin-right: 0.25em;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &[is='scroll-capture'] {
    font-size: 16.46px;
    position: fixed !important;
    right: 4px;
    top: 4px;
    width: 420px;
    display: none;
    flex-direction: column;
    line-height: 1;
    padding: 3px;
    z-index: 200000000;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    // mix-blend-mode: luminosity;
    background-color: $backgroundColorDark;

    &[data-state='show'] {
      display: flex;
    }
  }

  .sc-section {
    display: none;

    &[data-state='show'] {
      display: block;
    }

    // &:last-child {
    // 	padding-top: 0;
    // }
  }

  // &[is="sc-sections"] {
  // 	font-size: 14.81px;
  // 	position: fixed !important;
  // 	right: 0;
  // 	top: 0;
  // 	z-index: 200000001;
  // 	background: transparent !important;
  // 	background-color: transparent !important;
  // 	border: none !important;
  // 	outline: none !important;
  // }

  sc-video {
    iframe {
      width: 100%;
    }

    .sc-video-player-container {
      width: 100%;
    }

    video.sc-video-player {
      display: none;
      border-radius: 0.25em;
      width: 100%;
    }

    .sc-video-filename {
      display: none;
    }

    .sc-logger-container {
      display: block;
    }

    sc-logger {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      display: block;

      ul,
      ol {
        font-size: 0.75em;
        padding: 0.75em;
        flex-direction: column-reverse;
        display: flex;

        li {
          margin-bottom: 0.8em;
          display: flex;
          flex-direction: row;

          .num {
            width: 3em;
            flex-grow: 0;
            flex-shrink: 0;
          }
        }
      }
    }

    &[data-show-video='true'] {
      video.sc-video-player {
        display: block;
      }
      .sc-video-filename {
        display: block;
      }
      .sc-logger-container {
        display: none;
      }
    }
  }

  sc-image-download {
    .img-panel {
      width: 100%;
      overflow: auto;
      max-height: 400px;
    }

    .img-container {
      width: 100%;

      canvas,
      img {
        width: 100%;
        height: auto;
      }
    }

    .sc-wait {
      display: block;
    }

    .sc-video-filename {
      display: none;
    }

    .img-panel-container {
      display: none;
    }

    &[data-imageloaded='true'] {
      .img-panel-container {
        display: block;
      }
      .sc-video-filename {
        display: block;
      }
      .sc-wait {
        display: none;
      }
    }
  }
}
