$fieldMargin: 0.5em;
$borderRadius: 0.33em;

$backgroundColorDark: rgba(0, 0, 0, 0.75);
$windowColorDark: rgba(255, 255, 255, 0.025);
$windowColorFrontDark: rgba(255, 255, 255, 0.075);
$inputColorDark: rgba(0, 0, 0, 0.075);
$windowBorderDark: rgba(255, 255, 255, 0.5);
$textColorDark: #ffffff;

$backgroundColorLight: rgba(179, 179, 179, 0.75);
$windowColorLight: rgba(255, 255, 255, 0.25);
$windowColorFrontLight: rgba(255, 255, 255, 0.4);
$inputColorLight: rgba(0, 0, 0, 0.05);
$windowBorderLight: rgba(0, 0, 0, 0.25);
$textColorLight: #000000;
