$fieldMargin: 0.5em !important;
$borderRadius: 0.33em;

$backgroundColorDark: rgba(0, 0, 0, 0.75) !important;
$windowColorDark: rgba(255, 255, 255, 0.025) !important;
$windowColorFrontDark: rgba(255, 255, 255, 0.075) !important;
$inputColorDark: rgba(0, 0, 0, 0.075) !important;
$windowBorderDark: rgba(255, 255, 255, 0.5) !important;
$textColorDark: #ffffff !important;

$backgroundColorLight: rgba(179, 179, 179, 0.5) !important;
$windowColorLight: rgba(255, 255, 255, 0.2) !important;
$windowColorFrontLight: rgba(255, 255, 255, 0.2) !important;
$inputColorLight: rgba(0, 0, 0, 0.05) !important;
$windowBorderLight: rgba(0, 0, 0, 0.2) !important;
$textColorLight: #000000 !important;
