$fieldMargin: 0.5em;
$borderRadius: 0.33em;

$backgroundColorDark: #000000;
$windowColorDark: rgba(255, 255, 255, 0.075);
$windowColorFrontDark: rgba(255, 255, 255, 0.075);
$inputColorDark: rgba(0, 0, 0, 0.075);
$windowBorderDark: rgba(255, 255, 255, 0.5);
$textColorDark: #ffffff;

$backgroundColorLight: #ababab;
$windowColorLight: rgba(255, 255, 255, 0.075);
$windowColorFrontLight: rgba(255, 255, 255, 0.15);
$inputColorLight: rgba(255, 255, 255, 0.15);
$windowBorderLight: rgba(0, 0, 0, 0.5);
$textColorLight: #000000;
