body.sc-video-recording {
    margin: 0;
    padding: 0;
    
    .sc-default {
	    font-size: 14.81px;

        .sc-video-player-container {
            width: 100%;
        }
        
        video.sc-video-player {
            display: block;
            border-radius: 0.25em;
            width: 100%;
        }

        .sc-video-filename {
            > * {
                font-size: 0.8em;
            }
        }
    }
}